@import '../scss/reset';
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500;600;700&family=Inter:wght@400;500;600;800&display=swap');

// <Переменные> ============================================================================================================================================
$fontColor: #313131;
$fontColor2: #514040;
$btnColor: #49AD09;
// </Переменные> ============================================================================================================================================

// <Утилиты> ============================================================================================================================================
.none {
    display: none !important;
}
.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -100000px;
    background: transparent;
    font-size: 0;
}
.no-scroll {
    overflow: hidden;
}
// </Утилиты> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================

// <Сетка и Базовые> ============================================================================================================================================
body {
    font-family: 'Glory', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: $fontColor;
    // font-family: 'Inter', sans-serif;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
// </Сетка> ============================================================================================================================================

// <Импорт> ============================================================================================================================================

@import '../scss/repeat';
@import '../scss/header';
@import '../scss/brands';
@import '../scss/specialization';
@import '../scss/portfolio';
@import '../scss/customers';
@import '../scss/pricing';
@import '../scss/contact';
@import '../scss/footer';
@import '../scss/modal';
// @import "_footer";
