@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@500;600;700&family=Inter:wght@400;500;600;800&display=swap");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

nav, footer, header, aside, section, main, legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img, svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus, input:active, button:focus, button:active {
  outline: none;
}

label {
  cursor: pointer;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -100000px;
  background: transparent;
  font-size: 0;
}

.no-scroll {
  overflow: hidden;
}

body {
  font-family: "Glory", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #313131;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 18px 49px;
  color: #fff;
  border: 1px solid #49AD09;
  background-color: #49AD09;
  border-radius: 5px;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  transition: all 0.2s linear;
}
.btn:hover {
  box-shadow: none;
  color: #514040;
  background-color: inherit;
  border: 1px solid #514040;
  filter: drop-shadow(0px 100px 80px rgba(49, 49, 49, 0.1)) drop-shadow(0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259)) drop-shadow(0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407)) drop-shadow(0px 20px 13px rgba(49, 49, 49, 0.05)) drop-shadow(0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593)) drop-shadow(0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741));
}
.btn:active {
  position: relative;
  top: 1px;
}

.suptitle {
  margin-bottom: 26px;
  text-align: center;
  color: #514040;
}

.title {
  margin-bottom: 85px;
  font-size: 45px;
  text-align: center;
}

.header {
  position: relative;
  padding: 30px 0px 227px;
  background-color: #F2F2F2;
  z-index: 1;
}
.header::before {
  content: "";
  width: 341px;
  height: 545px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/header/left-imgs.png);
}
.header::after {
  content: "";
  position: absolute;
  width: 333px;
  height: 617px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/header/right-imgs.png);
}

.header__top {
  position: relative;
  margin-bottom: 180px;
}
.header__top::before {
  content: "";
  position: absolute;
  width: 81px;
  height: 104px;
  background-image: url(../img/header/header-el.png);
  right: 0;
  top: -30px;
}

.nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
}

.nav__logo {
  margin-right: auto;
  font-weight: 700;
}
.nav__logo a {
  color: #313131;
}

.nav__list {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.nav__link {
  position: relative;
  color: #313131;
  transition: all 0.2s linear;
}
.nav__link:hover {
  color: #49AD09;
  opacity: 0.8;
}
.nav__link span {
  display: none;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  padding: 5px;
  color: #313131;
  font-size: 12px;
  background-color: #fff;
  border-radius: 10px;
  pointer-events: none;
}
.nav__link span::after {
  content: "";
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/modal/sad-icon.png);
  background-size: cover;
}

.nav__login {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 36px;
       column-gap: 36px;
  transition: color 2s linear;
}
.nav__login a {
  color: inherit;
  transition: all 0.1s linear;
}
.nav__login a:hover {
  opacity: 0.8;
}
.nav__login span {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  left: 50%;
  width: 80px;
  padding: 20px;
  color: rgba(49, 49, 49, 0.5);
  background-color: rgba(73, 173, 9, 0.3);
  border-radius: 10px;
}

.header__content {
  max-width: 505px;
  margin: 0 auto;
  text-align: center;
}
.header__content span {
  color: #49AD09;
}

.header__title {
  margin-bottom: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 78px;
  line-height: 80px;
}

.header__text {
  margin-bottom: 90px;
  color: #514040;
  line-height: 147.9%;
}

.header__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 37px;
       column-gap: 37px;
}

.header__btn {
  padding-left: 73px;
  padding-right: 73px;
}

.header__video-link {
  position: relative;
  padding-right: 38px;
  color: #514040;
  text-decoration: underline;
}
.header__video-link::before {
  content: "";
  width: 7px;
  height: 9px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/header/arrow-r.svg);
}

.brands {
  position: relative;
  padding: 84px 0px 50px;
}
.brands::after {
  content: "";
  position: absolute;
  top: -140px;
  left: 0;
  width: 195px;
  height: 519px;
  background-image: url(../img/brands/el.png);
}

.brands__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specialization {
  position: relative;
  padding: 165px 0px 140px;
  overflow: hidden;
}
.specialization::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  width: 129px;
  height: 196px;
  background-image: url(../img/specialization/el.svg);
}

.specialization__box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  margin-bottom: 80px;
}
.specialization__box span {
  display: none;
  position: absolute;
  top: 850px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 20px;
  color: rgba(49, 49, 49, 0.5);
  background-color: rgba(73, 173, 9, 0.3);
  border-radius: 10px;
}
.specialization__box span::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 48%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(../img/modal/cat-icon.png);
  background-size: cover;
}

.specialization__item-title {
  position: relative;
  padding-left: 43px;
  margin-bottom: 33px;
  font-weight: 600;
  font-size: 22px;
}
.specialization__item-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 28px;
  height: 28px;
  background-image: url(../img/specialization/icon-01.png);
  z-index: 1;
}

.specialization__item {
  max-width: 384px;
  padding: 47px 30px 43px;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 5px;
  transition: all 0.2s linear;
}
.specialization__item:hover {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
  border-radius: 5px;
}
.specialization__item:hover .specialization__item-link {
  color: #49AD09;
}
.specialization__item:nth-child(2) > .specialization__item-title::after {
  height: 32px;
  top: -5px;
  background-image: url(../img/specialization/icon-02.png);
}
.specialization__item:nth-child(3) > .specialization__item-title::after {
  height: 42px;
  top: -7px;
  background-image: url(../img/specialization/icon-03.png);
}
.specialization__item:nth-child(4) > .specialization__item-title::after {
  height: 38px;
  top: -8px;
  background-image: url(../img/specialization/icon-04.png);
}

.specialization__item-text {
  margin-bottom: 57px;
  color: #514040;
  line-height: 147.9%;
}

.specialization__item-link {
  position: relative;
  color: #313131;
  text-decoration: underline;
  transition: all 0.2s linear;
}
.specialization__item-link span {
  display: none;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  padding: 10px 24px 10px 10px;
  color: #313131;
  font-size: 12px;
  background-color: rgba(73, 173, 9, 0.6);
  border-radius: 10px;
  pointer-events: none;
}
.specialization__item-link span::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 5px;
  width: 22px;
  height: 22px;
  background-image: url(../img/modal/cat-icon.png);
  background-size: cover;
}

.specialization__btn {
  text-align: center;
}

.portfolio {
  position: relative;
  padding-bottom: 140px;
}
.portfolio::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  width: 110px;
  height: 196px;
  background-image: url(../img/portfolio/el.png);
}

.portfolio__title {
  margin-bottom: 140px;
}

.portfolio__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 70px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-bottom: 53px;
}

.portfolio__item {
  padding-bottom: 20px;
  transition: all 0.3s linear;
}
.portfolio__item:hover {
  transform: translateY(-40px);
}
.portfolio__item:hover .portfolio__item-link {
  color: #49AD09;
  text-decoration: underline;
}
.portfolio__item:hover .portfolio__item-desc {
  font-weight: 700;
}

.portfolio__item-img {
  margin-bottom: 24px;
}

.portfolio__item-text {
  display: flex;
  justify-content: space-between;
}

.portfolio__item-desc {
  font-size: 28px;
  color: #000;
  transition: all 0.2s linear;
}

.portfolio__item-link {
  color: inherit;
  align-self: center;
  transition: all 0.2s linear;
}

.portfolio__btn {
  position: relative;
  text-align: center;
}
.portfolio__btn a::before {
  content: attr(data-clue);
  position: absolute;
  top: 0px;
  left: -130px;
  transform: translateX(-50%);
  padding: 10px 14px;
  width: 210px;
  height: 50px;
  border-radius: 30px;
  color: rgba(81, 64, 64, 0.5);
  font-size: 16px;
  background-color: rgba(73, 173, 9, 0.3);
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: inherit;
}
.portfolio__btn a:hover::before {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.customers {
  position: relative;
  padding: 0px 0px 140px 0px;
  overflow: hidden;
}
.customers::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50px;
  width: 262px;
  height: 519px;
  background-image: url(../img/customers/el.svg);
}

.slider {
  position: relative;
  padding: 103px 0px 35px;
}
.slider::before {
  content: "";
  position: absolute;
  left: 139px;
  right: 139px;
  top: 0;
  width: 892px;
  height: 540px;
  background-color: #F2F2F2;
  z-index: -1;
}

.slider__items {
  display: flex;
  margin-bottom: 60px;
  margin-left: -15px;
  margin-right: -15px;
}

.slider__item {
  max-width: 380px;
  padding: 40px 24px 40px 32px;
  font-family: "Inter", sans-serif;
  color: #32435C;
  background: #FFFFFF;
  box-shadow: 0px 0px 28px -28px #000000 inset;
  border-radius: 5px;
  z-index: 2;
}

.slider__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.slider__text {
  margin-bottom: 20px;
  color: #6A635B;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.slider__stars {
  margin-bottom: 20px;
}

.slider__author {
  font-size: 14px;
  font-weight: 600;
}

.slider__buttons {
  width: 120px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 70px;
}

.slick-slide {
  margin: 0px 15px;
}

.slick-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -118px;
  background-color: #313131;
  box-shadow: 0px 8px 15px rgba(72, 72, 138, 0.08);
  border-radius: 40px;
  background-image: url(../img/customers/ar-right-white.png);
  background-repeat: no-repeat;
  background-position: center;
}
.slick-arrow:hover {
  opacity: 0.8;
}

.slick-prev {
  left: 45.5%;
  transform: rotateY(180deg);
}

.slick-next {
  left: 50.2%;
}

.slick-disabled {
  background-image: url(../img/customers/ar-black-left.png);
  background-color: unset;
}
.slick-disabled:hover {
  opacity: unset;
}
.slick-disabled.slick-prev {
  transform: rotateY(0deg);
}
.slick-disabled.slick-next {
  transform: rotateY(180deg);
}

.pricing {
  position: relative;
  padding: 0px 0px 140px 0px;
}
.pricing::before {
  content: "";
  width: 115px;
  height: 136px;
  position: absolute;
  left: 0;
  top: 220px;
  background-image: url(../img/pricing/el.svg);
}

.pricing__box {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 42px;
       column-gap: 42px;
}

.pricing__item {
  max-width: 362px;
  padding: 53px 75px 55px 55px;
  text-align: center;
  border: 1px solid #EDEDED;
  filter: drop-shadow(0px 20px 40px rgba(191, 191, 191, 0.16));
  border-radius: 5px;
  transition: all 0.3s linear;
}
.pricing__item.active {
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
}
.pricing__item.active .pricing__btn {
  color: #fff;
  border: 1px solid #49AD09;
  background-color: #49AD09;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
.pricing__item:last-child .pricing__price {
  margin-bottom: 60px;
}
.pricing__item:last-child .pricing__btn {
  padding: 18px 73px;
}
.pricing__item:last-child .pricing__lists {
  margin-bottom: 84px;
}
.pricing__item:hover {
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
}
.pricing__item:hover .pricing__btn {
  color: #fff;
  border: 1px solid #49AD09;
  background-color: #49AD09;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

.pricing__title {
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 30px;
}

.pricing__price {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 60px;
}

.pricing__lists {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 50px;
  text-align: left;
}

.pricing__list {
  position: relative;
  padding-left: 28px;
  font-size: 16px;
  color: #313131;
  text-transform: capitalize;
}
.pricing__list::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/pricing/ok.png);
}

.pricing__btn {
  padding: 18px 60px;
  color: #514040;
  background-color: inherit;
  border: 1px solid #514040;
  border-radius: 5px;
  filter: drop-shadow(0px 100px 80px rgba(49, 49, 49, 0.1)) drop-shadow(0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259)) drop-shadow(0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407)) drop-shadow(0px 20px 13px rgba(49, 49, 49, 0.05)) drop-shadow(0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593)) drop-shadow(0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741));
  transition: all 0.3s linear;
}
.pricing__btn:active {
  position: relative;
  top: 1px;
  color: #514040;
  background-color: inherit;
  border: 1px solid #514040;
  filter: drop-shadow(0px 100px 80px rgba(49, 49, 49, 0.1)) drop-shadow(0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259)) drop-shadow(0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407)) drop-shadow(0px 20px 13px rgba(49, 49, 49, 0.05)) drop-shadow(0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593)) drop-shadow(0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741));
}

.contact {
  padding-bottom: 77px;
}

.contact__title {
  max-width: 400px;
  margin: 0 auto 63px auto;
  line-height: 50px;
}

.contact__btn {
  margin-bottom: 127px;
  text-align: center;
}

.contact__box {
  display: flex;
  -moz-column-gap: 193px;
       column-gap: 193px;
}

.contact__item:first-child .contact__item-title {
  margin-bottom: 35px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.contact__item-title {
  margin-bottom: 42px;
  font-weight: 600;
  font-size: 20px;
  color: #1C1C1D;
}

.contact__item-text {
  max-width: 236px;
  margin-bottom: 64px;
  font-size: 16px;
}

.contact__item-imgs {
  max-width: 114px;
  display: flex;
  justify-content: space-between;
}

.contact__item-img:hover {
  opacity: 0.6;
}

.contact__item-links {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}

.contact__item-link {
  color: inherit;
  font-size: 16px;
}
.contact__item-link:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.contact__item-form {
  padding-right: 12px;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
  max-width: 174px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.contact__item-input {
  padding: 14px 8px 14px 12px;
  font-size: 12px;
  color: #514040;
  background-color: inherit;
}
.contact__item-input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.contact__item-btn {
  width: 16px;
  height: 16px;
  background-image: url(../img/contact/arrow.png);
}

.footer__copy {
  padding: 40px 0px;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #EDEDED;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}
.popup.open {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
.popup.open body {
  overflow: hidden;
}
.popup.open .popup__content {
  transform: translate(0, 0);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  max-width: 800px;
  width: 500px;
  padding: 30px 30px 30px 30px;
  color: #000;
  background-color: #fff;
  opacity: 0;
  transform: translate(0px, -100%);
  transition: all 0.6s ease;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 36px;
  height: 36px;
  background-image: url(../img/modal/close-icon.png);
  background-size: contain;
}

.popup__title {
  margin-bottom: 30px;
  color: #49AD09;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}

.popup__form {
  max-width: 100%;
  display: flex;
}

.popup__form-email {
  font-size: 20px;
}

.popup__form-tel {
  font-size: 20px;
}

.popup-2__wrapper {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}
.popup-2__wrapper.open {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
}
.popup-2__wrapper.open body {
  overflow: hidden;
}
.popup-2__wrapper.open .popup-2 {
  transform: translate(0, 0);
  opacity: 1;
}

.popup-2 {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding-bottom: 90px;
  text-align: center;
  box-shadow: 0px 0px 22px 10px rgba(34, 60, 80, 0.22);
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  transform: translate(0px, -100%);
  transition: all 0.6s ease;
}

.popup-2__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  background-image: url(../img/modal/close-black.png);
  background-size: contain;
}

.popup-2__title {
  margin-bottom: 70px;
  padding: 35px 0px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background-color: #49AD09;
}

.popup-2__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0px 100px;
}
.popup-2__form input {
  display: block;
  width: 100%;
  border-radius: 50px;
  transition: all 0.2s linear;
}
.popup-2__form input:nth-child(1):focus, .popup-2__form input:nth-child(2):focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.popup-2__form-name {
  padding: 14px 8px 14px 17px;
  font-size: 20px;
  color: #514040;
  background-color: rgba(51, 51, 51, 0.14);
  border: 1px solid rgba(51, 51, 51, 0.717);
}

.popup-2__form-pass {
  padding: 14px 8px 14px 17px;
  font-size: 20px;
  color: #514040;
  background-color: rgba(51, 51, 51, 0.14);
  border: 1px solid rgba(51, 51, 51, 0.717);
}

.popup-2__form-text {
  color: rgba(73, 173, 9, 0.7);
  text-align: right;
}

.popup-2__form-btn {
  position: relative;
  margin-top: auto;
  padding: 13px 0px;
  font-size: 20px;
  color: #fff;
  background-color: #49AD09;
}
.popup-2__form-btn:active {
  top: 1px;
}/*# sourceMappingURL=main.css.map */