.header {
    position: relative;
    padding: 30px 0px 227px;

    background-color: #F2F2F2;

    z-index: 1; 
    &::before {
        content: '';
        width: 341px;
        height: 545px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/header/left-imgs.png);
    }
    &::after {
        content: '';
        position: absolute;
        width: 333px;
        height: 617px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/header/right-imgs.png);
    }
}
// Nav
.header__top {
    position: relative;
    margin-bottom: 180px;
    &::before {
        content: '';
        position: absolute;
        width: 81px;
        height: 104px;
        background-image: url(../img/header/header-el.png);
        right: 0;
        top: -30px;
    }
}
.nav {
    display: flex;
    align-items: center;
    column-gap: 150px;
}
.nav__logo {
    margin-right: auto;

    font-weight: 700; 
    a {
        color: $fontColor;
    }
}
.nav__list {
    display: flex;
    column-gap: 60px;
}
.nav__link {
    position: relative;

    color: $fontColor;

    transition: all 0.2s linear;
    &:hover {
        color: $btnColor;
        opacity: 0.8;
    }
    span {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        padding: 5px;

        color: $fontColor;
        font-size: 12px;
        background-color: #fff;
        border-radius: 10px;

        pointer-events: none;
        &::after {
            content: '';
            position: absolute;
            right: 10px;
            bottom: 0;
            width: 16px;
            height: 16px;

            background-image: url(../img/modal/sad-icon.png);
            background-size: cover;
        }
    }
}
.nav__login {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 36px;
    transition: color 2s linear;
    a {
        color: inherit;
        transition: all 0.1s linear;
        &:hover {
            opacity: 0.8;
        }
    }
    span {
        position: absolute;
        top: 70px;
        right: 0;
        left: 50%;
        // transform: translateX(-50%);
        width: 80px;
        padding: 20px;

        color: rgba($fontColor, 0.5);
        background-color: rgba($btnColor, 0.3);
        border-radius: 10px;
    }
}
// Header content
.header__content {
    max-width: 505px;
    margin: 0 auto;

    text-align: center;
    span {
        color: $btnColor;
    }
}
.header__title {
    margin-bottom: 36px;

    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 78px;
    line-height: 80px;
}
.header__text {
    margin-bottom: 90px;

    color: $fontColor2;
    line-height: 147.9%;
}
.header__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 37px;
    
}
.header__btn {
    padding-left: 73px;
    padding-right: 73px;
}

.header__video-link {
    position: relative;
    padding-right: 38px;

    color: $fontColor2;
    text-decoration: underline;
    &::before {
        content: '';
        width: 7px;
        height: 9px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/header/arrow-r.svg);
    }
}